<div class="todoList">

  <div>
    <mat-form-field class="full-width">
      <mat-label>need todo:</mat-label>
      <input [(ngModel)]="newTodo" matInput placeholder="order Pizza" value="learn NGRX">
    </mat-form-field>

    <button (click)="addNewTodo()" type="button" class="full-width" mat-raised-button color="primary">Add</button>

    <mat-selection-list (selectionChange)="onChange($event)">
      <mat-list-option *ngFor="let todo of todoList" [value]="todo">
        {{todo}}
      </mat-list-option>
    </mat-selection-list>

    <button *ngIf="selected.length"
            (click)="removeSelected()"
            type="button"
            class="full-width"
            mat-raised-button
            color="warn">Remove Selected {{selected.length}} items
    </button>

  </div>

</div>
