<br><br>
<div style="background: #333; margin: 0px; padding: 0px;">
  <img src="https://rxjs.dev/assets/images/logos/logo.png" alt="">
</div>

<button type="button" mat-raised-button color="primary">click</button>


<button type="button" mat-raised-button color="primary" (click)="order()">make order [switchMap]</button>
<button type="button" mat-raised-button color="primary" (click)="order2()">make order [mergeMap]</button>
<button type="button" mat-raised-button color="primary" (click)="order3()">make order [exhaustMap]</button>
<button type="button" mat-raised-button color="primary" (click)="order4()">make order [concatMap]</button>

