<div class="form-main">
  <mat-card>
    <mat-card-title>Actions Buttons</mat-card-title>
    <!-- <mat-card-subtitle>Start</mat-card-subtitle>-->
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <mat-form-field appearance="fill">
        <mat-label>CPU</mat-label>
        <mat-select formControlName="cpu">
          <mat-option *ngFor="let proc of processors" [value]="proc.value">
            {{proc.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Storage</mat-label>
        <mat-select formControlName="storage" multiple>
          <mat-option *ngFor="let storage of storages" [value]="storage.value">
            {{storage.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Submit</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>
