.container {
  width: 100%;
  height: 100%;
}

#menu {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 25px;

  cursor: pointer;
}
.sidenav-content {
  margin-left: 100px;
}
.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    width: 100%;
    text-decoration: none;
    button {
      cursor: pointer;
      display: flex;
      width: 100%;
      justify-content: left;
      align-items: center;
      margin-bottom: 2px;
      height: 50px;
    }
  }

  .todo {
    margin-top: 20px;
  }

}
