

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer mode="over">
    <div class="sidenav">
      <a routerLink="/" routerLinkActive="active" (click)="drawer.toggle()">
        <button mat-raised-button><span class="material-icons">dashboard</span> Dashboard</button>
      </a>

      <a routerLink="/component-lifecycle" routerLinkActive="active" (click)="drawer.toggle()">
        <button mat-raised-button><span class="material-icons">cached</span> Component Lifecycle</button>
      </a>

      <a routerLink="/directives" routerLinkActive="active" (click)="drawer.toggle()">
        <button mat-raised-button><span class="material-icons">wb_iridescent</span> Directives</button>
      </a>


      <a routerLink="/injection" routerLinkActive="active" (click)="drawer.toggle()">
        <button mat-raised-button><span class="material-icons">storm</span> Injection</button>
      </a>

      <a routerLink="/ng-hello" routerLinkActive="active" (click)="drawer.toggle()">
        <button mat-raised-button><span class="material-icons">home</span> Hello Angular</button>
      </a>

      <a routerLink="/forms" routerLinkActive="active" (click)="drawer.toggle()">
        <button mat-raised-button><span class="material-icons">list</span> Forms</button>
      </a>

      <a routerLink="/rxjs" routerLinkActive="active" (click)="drawer.toggle()">
        <button mat-raised-button><span class="material-icons">storm</span> Rxjs</button>
      </a>

      <a routerLink="/ngrx" routerLinkActive="active" (click)="drawer.toggle()">
        <button mat-raised-button><span class="material-icons">storm</span> NgRx</button>
      </a>

      <div class="todo">
        <p>todo:</p>
        <p>9 / 10 </p>
      </div>
    </div>
  </mat-drawer>

  <button id="menu" mat-raised-button (click)="drawer.toggle()">
    <span class="material-icons">menu</span>
  </button>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
