.btn {
  color: #000;
  height: 30px;
  line-height: 30px;
  width: 180px;
  background: #989898;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.advancedBtn {
  color: orange;
  height: 45px;
  line-height: 45px;
  width: 180px;
  background: #333;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
