.widget-card {
  width: 300px;
  display: flex;
  align-items: center;
}

.widget-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  img {
    width: 150px;
  }
}


