<mat-card class="widget-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Widget</mat-card-title>
  </mat-card-header>
  <ng-content class="widget-content"></ng-content>
  <mat-card-actions>
    <button mat-raised-button (click)="like()">Like</button>
    <button mat-raised-button (click)="reload()">Reload</button>
  </mat-card-actions>
</mat-card>


