<div class="container">
  <h1 class="center">Directives can be Attribute or Structural </h1>
  <h2>Attribute - Change the appearance or behavior of an element, component, or another directive.</h2>
  <h2>Structural - Change the DOM layout by adding and removing DOM elements.</h2>

  <div highlight class="exBlock">(1) highlighted directive</div>
  <div appUserEvent class="exBlock">(2) highlight by user-event directive</div>

  <br>
  <br>
  <div ngNonBindable>
    <p><b>ngNonBindable</b> - deactivates interpolation, directives, and binding in templates. </p>
    <div appUserEvent class="exBlock"> (3) appUserEvent {{1 + 1}} </div>
  </div>
  <br>
  <br>
  <div>
    <p>Change bg color by click -> will change Signal Input data</p>
    <button type="button" (click)="toggleColorFor_appWithInput()">toggle color:</button>
    <div [appWithInput]="color4directive" class="exBlock">(4) highlight With Input directive</div>
  </div>

  <br>
  <br>
  <div>
    <p>Directive that modify button component (change component variables, cssClass) + used [Directive Input] for Name</p>
    <p>use property name with prefix 'Directive' for avoid problem with component 'inputs'</p>
    <div style="display: flex; gap: 2px; align-items: center">
      <app-button></app-button> ->
      <app-button appAdvancedBtn></app-button> ->
      <app-button appAdvancedBtn [appMyDirectiveCustomName]="'nameFromInput'"></app-button>
    </div>
  </div>



</div>
