
<mat-list>
  <mat-list-item>
    <a href="https://materializecss.com/icons.html">https://materializecss.com/icons</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a href="https://fontawesomeicons.com/materialdesign/icons/play_arrow" target="_blank">customize icons</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="material-icons">keyboard_arrow_down</span>
    <span class="material-icons">keyboard_arrow_up</span>
    <span class="material-icons">keyboard_arrow_up</span>
    <span class="material-icons">keyboard_arrow_down</span>
    <span class="material-icons">A</span>
    <span class="material-icons">B</span>
    <span class="material-icons">B</span>
    <span class="material-icons">A</span>
  </mat-list-item>

  <img height="200px" src="https://cdn.mobygames.com/screenshots/5134253-battletoads-double-dragon-nes-character-select-screen.png" alt="">

</mat-list>

