<p>component-lifecycle works!</p>
<button type="button" (click)="showList()">showList</button>

@if(isListVisible){
  <ul>
    @for (hook of hooks; let idx = $index; track idx) {
      <li>{{hook}}</li>
    }
  </ul>


}
<app-child></app-child>
