<div class="container">
  <app-widget-wrapper>
    <app-widget-weather></app-widget-weather>
  </app-widget-wrapper>

  <app-widget-wrapper>
    <app-widget-indicator></app-widget-indicator>
  </app-widget-wrapper>
</div>



